<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Интернет-сервис, предоставляющий пользователям Интернета услуги по виртуальному общению с другими пользователями, аналог реальных служб знакомств. Цели знакомств у различных пользователей могут быть самые разные — виртуальное общение, дружба, серьёзные отношения, создание семьи, секс, виртуальный секс (нередко — всё вместе).">
  <meta name="author" content="bramkov.com">

  <title th:text="${title}" />
  <link rel="icon" th:href="@{${pathIcon}}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geologica&family=Roboto:wght@400;500;700&family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reg-step/style.css">
</head>

<body>

    <div id="content">

        <div id="header">
            <p class="logo" th:text="${projectName}" />
        </div>

        <div id="body">
            <div id="lable">
                <p class="fullname">РАССКАЖИТЕ О СЕБЕ</p>
            </div>
<!--            name="description"-->
            <form id="from-data" th:method="POST" th:action="@{/edit/description}" th:object="${user}" class="form-input">
                <textarea   class="input-fullname"
                            cols="10"
                            rows="10"
                            type="text"
                            placeholder="Введите описание"
                            th:field="*{description}"
                            form="from-data"
                            required>
                </textarea>
                <input  class="input-btn input-btn-desc"
                        type="submit" 
                        value="продолжить"
                />
            </form> 
        </div>

        <div id="footer">
            <p class="info">Продолжая вы принимаете  <a href="#">Соглашение</a> и  <a href="#">Конфиденциальность</a></p>
        </div>

    </div>

    <script src="/js/lib/jquery-3.6.3.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  
</body>

</html>