<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Интернет-сервис, предоставляющий пользователям Интернета услуги по виртуальному общению с другими пользователями, аналог реальных служб знакомств. Цели знакомств у различных пользователей могут быть самые разные — виртуальное общение, дружба, серьёзные отношения, создание семьи, секс, виртуальный секс (нередко — всё вместе).">
    <meta name="author" content="friend18.ru">
  
    <title  th:text="${title}"/>
    <link rel="icon" th:href="@{${pathIcon}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica&family=Roboto:wght@400;500;700&family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>

    <div id="app"></div>

    <p>Полное имя пользователя</p>
    <p th:text="${user.getFullName()}"></p>
    <br>
    <p>Логин</p>
    <p th:text="${user.getUsername()}"></p>
    <br>
    <p>Описание</p>
    <p th:text="${user.getDescription()}"></p>
    <br>

</body>

<script src="/js/index-react.js" type="text/babel"></script>

</html>