<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${nameProject}" />
</head>

<body>

    <h1 th:text="${nameProject}" />
    <br>
    <a href="/article/create">Создать статью</a>
    <br>
    <a href="/">Назад</a>
    <br>
    <br>
    <h2>Список статей</h2>

    <table>
      <tr style="font-weight: bold">
        <td>id</td>
        <td>Название статьи</td>
        <td>Описание</td>
        <td>Обновить</td>
          <td>Удалить</td>
      </tr>
      <tr th:each="article : ${articles}">
        <td th:text="${article.getId()}"></td>
        <td th:text="${article.getTitle()}"></td>
        <td th:text="${article.getDescription()}"></td>
        <td><a th:href="@{/article/update/{id}(id=${article.getId()})}">обновить</a></td>
          <td>
              <form th:method="DELETE" th:action="@{/article/delete/{id}(id=${article.getId()})}">
                  <input type="submit" value="удалить">
              </form>
          </td>
      </tr>
    </table>

</body>
</html>