<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}" />
</head>
<body>

    <a href="/article">Назад</a>
    <br>
    <br>

    <form method="post" th:action="@{/article/create}" th:object="${article}">

        <label for="title">Название: </label>
        <input type="text" id="title" th:field="*{title}"/>
        <br><br>
        <lable for="description">Описание: </lable>
        <input type="text" id="description" th:field="*{description}"/>
        <br><br>
        <input type="submit" value="Создать статью"/>
      </form>

</body>
</html>