<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}" />
</head>
<body>

    <h1>Обновить статью</h1>
    <br>

    <form th:method="PUT" th:action="@{/article/update/{id}(id=${article.getId()})}" th:object="${article}">

      <label for="title">Название: </label>
      <input type="text" id="title" th:field="*{title}" />
      <br><br>
      <lable for="description">Описание: </lable>
      <input type="text" id="description" th:field="*{description}" />
      <br><br>
      <input type="submit" value="Обновить статью"/>
    </form>

</body>
</html>