<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Интернет-сервис.">
  <meta name="author" content="bramkov.com">
  <title th:text="${title}"></title>
  <link rel="icon" th:href="@{${pathIcon}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geologica&family=Roboto:wght@400;500;700&family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="/css/lib/bootstrap-5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
  <link href="/css/login.css" rel="stylesheet">
  <script src="/js/lib/jquery-3.6.3.js"></script>
</head>

<body class="text-center">

  <form th:method="POST" th:action="@{/login}" class="form-login" >
    <img class="mb-4" src="/img/logo.svg" alt="" width="250" height="200">
    <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
    <input type="text"
           name="username"
           placeholder="Логин"
           class="form-control form-control-lg input-login"
           autofocus="true"
           required />
    <br>
    <input type="password"
           name="password"
           placeholder="Пароль"
           class="form-control form-control-lg input-login"
           required />
    <br>
    <button class="btn bg-warning btn-lg btn-block btn-login"
            type="submit">ПРОДОЛЖИТЬ</button>
    <br><br><br>
    <p class="fw-100">У вас нет аккаунта? <a th:href="@{/reg}" class="link-info fw-100">Регистрация</a></p><br>
    <p>
      <a th:href="@{/}" class="link-info">
        <img src="/img/login/back.svg" alt="back" class="wh-32">
      </a>
    </p>
    <p class="mt-5 mb-3 text-muted">&copy; 2025</p>
  </form>

</body>
</html>